body {
    background-image: url('./images/bar.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 100%;
}



#game_elements_cola {
    z-index: 1;
    border-width: 2px;
    border-color:black;
    border-style: solid;
    position: absolute;
    left: 70%;
}

#cola {
   width: 700px;
    height: 600px;
    margin-left: 750px;
    margin-top: 590px;
}

#APC1 {
    translate: 0 -20%;
    scale: 0.1;
    position: absolute;
    z-index: 9;
}

#game_elements_fanta {
    z-index: 1;
    border-width: 2px;
    border-color:black;
    border-style: solid;
    position: absolute;
    left: 70%;
}

#fanta {
width: 100px;
    height: 100px;
    margin-left: 250px;
}

#APC1 {
    translate: 0 -20%;
    scale: 0.1;
    position: absolute;
    z-index: 9;
}

#game_elements_bærbar {
    z-index: 1;
    border-width: 2px;
    border-color:black;
    border-style: solid;
    position: absolute;
    left: 70%;
}

#bærbar {
   width: 700px;
    height: 600px;
    margin-left: 750px;
    margin-top: 590px;
}

#APC1{
    translate: 0 -20%;
    scale: 0.1;
    position: absolute;
    z-index: 9;
}

#game_elements_øl {
    z-index: 1;
    border-width: 2px;
    border-color:black;
    border-style: solid;
    position: absolute;
    left: 70%;
}

#øl{
   width: 70px;
    height: 80px;
    margin-left: 650px;
    margin-top: 340px;
}


#øl3_container {

    bottom: 30%;
}

#APC1{
    translate: 0 -20%;
    scale: 0.1;
    position: absolute;
    z-index: 9;
}




#bærbar {
    top: 0px;
    bottom: 10px;
    position: absolute;
}

#bærbar_container img {
    width: 30%;
    height: 20%;
    top: 20%;
}



#score {
    width: 100px;
    position: absolute;
    top: 0px;
    left: 10px;

}

#start



#game_over




#level_complete




#game_background {
background-image: url(images/bar.png);
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width: 100%;
z-index: -1;
position: absolute;
}
/*
#game-ui {
    display: grid;
    grid-template-columns: auto auto auto;

}

*/

#hjerte1_container {

    top: 5%;
    right: -40%;
    z-index: 2;
    position: absolute;
}

#hjerte2_container {

    top: 5%;
    right: -35%;
    z-index: 2;
    position: absolute;
}

#hjerte3_container {

    top: 5%;
    right: -30%;
    z-index: 2;
    position: absolute;
}

#hjerte1_container img {
    width: 15%;
}

#hjerte2_container img {
    width: 15%;
}

#hjerte3_container img {
    width: 15%;
}

.hjerte {
    max-width: 80px;
}

#timer_container {
    position: absolute;
    top: 0px;
    left: 50%;
}

#timer_container img {
    width: 20%;
}

#scoreboard {

    top: 5%;
    left: 5%;
    position: absolute;
    z-index: 2%;
}